.AddTodo{
    width: 240px;
    position: relative;
    left: 48px;
    margin-top: 20px;
}
.createButton{
    position: relative;
    left: 18px;
}
.createTodo{
    position: relative;
    left: 75px;
}